.page{
    padding: 1em 0;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: auto;
    grid-template-areas: 
      "left center";
}

.left{
    grid-area: left;
    padding: 1em;
}

.center{
    grid-area: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.listings-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 200px;
    margin: 1em;
    transition: transform .20s ease-in-out;
}
.card:hover{
    transform: scale3d(1.006, 1.006, 1);
}

.badge-pill{
    margin-right: 5px;
}