<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Welcome to GitApps!</h1>
    <p class="lead">A simple web app to explore Github Marketplace apps. Get started by navigating to the <em><a routerLink="/marketplace">Marketplace</a></em></p>
    <hr class="my-4">
    <p>GitApps leverages the <a href="https://developer.github.com/v4/">Github GraphQL API v4</a> to showcase the various apps in the Github Marketplace. You can filter by categories and click on a given app to view more details. Enjoy!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/marketplace" role="button">Explore</a>
    </p>
  </div>
</div>